 body {
   background-image: url('./gifs/background1.jpg');
 }
 #game div {
  border: 1px solid black;
  width: 150px;
  height: 200px;
  margin: 10px;
  border-radius:5px;
  display: flex;
  flex-wrap:wrap;
  background-image: url('./gifs/images.jpeg');
  background-size: 100% 100%;
  cursor:pointer;
} 

header {
  display: flex;
  justify-content: space-evenly;
  height:5vh;
  margin:auto;
}

h1 {
  align-self: center;
  color:white;
  margin-top:40px;  
}

h3 {
  color:white;
}

#game {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  height:90vh;
}

.btn {
  height: 30px;
  align-self: center;
  width:100px;
  border-radius: 5px;
  border:none;
  background-color:red;
  cursor:pointer;
}

.btn:hover {
  width:120px;
  transition: ease-in-out;
}



