body {
  background-image: url("./gifs/background1.jpg");
}

#game div {
  border: 1px solid black;
  width: 150px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-image: url("./gifs/images.jpeg");
  background-size: 100% 100%;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  margin: 0 42px;
}

h1 {
  align-self: center;
  color: rgb(0, 255, 21);
  margin-top: 40px;
}

h3 {
  color: rgb(0, 255, 21);
}

#game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
}

.btn {
  height: 30px;
  align-self: flex-end;
  width: 100px;
  border-radius: 15px;
  border: none;
  background-color: rgb(0, 255, 21);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

#start {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgb(0, 255, 21);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: absolute;
  margin: auto; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-size:20px;
}

#start:hover {
  font-size:30px;
  color:blue;
}
